body {
  background-color: #fed945e1;
  margin: 0;
  padding: 20px;
}

.leaderboard {
  max-width: 1440px;
  height: 540px;
  margin: auto;
  background-color: #0cce0f;
  border: 5px solid #ce455e;
  border-radius: 64px;
  padding: 20px;
  top: -60px;
}

.leaderboard-heading {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-seria;
  color: #f21a0fe1;
  font-size: 20px;
  margin-bottom: 20px;
}

.top-three {
  display: flex;
  justify-content: space-between;
}

.top-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-details1 {
  text-align: center;
  position: absolute;
  left: 644.6px;
  top: 390.74px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
padding: 0px;

color: #FFFFFF;

}
.player-details2 {
  text-align: center;
  position: absolute;
 left: 380px;
  top: 400px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}
.player-details3 {
  text-align: center;
  position: absolute;
  left: 943px;
  top: 399px;
  
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
font-weight: bold;
color: #FFFFFF;

}

.player-name {
  background-color:#cb3de4;
  border-radius: 50px;
  border: 4px solid #BABEFF;
  padding: 20px;
  font-size:20px;
}
.player-score {
  background-color:#cb3de4;
  border-radius: 50px;
  border: 4px solid #BABEFF;
  padding: 20px;
  font-size:20px;
}

.leaderboard-rectangles {
  position: inherit;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0px;
  margin-top: 500px;
}

.leaderboard-rectangle {
  background-color: #43e553;
  padding: 30px;
  border-radius: 0px;
  margin: 14px;
 max-width: 1440px;
 height:140px ;  
}

.rectangle-name {
  position: absolute;
  font-size: 32px;
  left: 270.06px;
  font-family: 'Inter';
  font-style: normal;
  background-color:#cb3de4;
  border: 4px solid #20b7d9;
  padding: 20px;
  border-radius: 50px;
}

.rectangle-score {
  position: absolute;
  font-size: 32px;
  background-color:#cb3de4;
  border: 4px solid #20b7d9;
  padding: 20px;
  border-radius: 50px;
  left: 1070.06px;
  font-family: 'Inter';
  font-style: normal;
  
}

hr {
  border: none;
  border-top: 2px solid  #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
}

.circle-photo4{
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #8b1bd1;
  left: 700px;
  top: 690px;
}

.circle-photo5{
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #8b1bd1;
  left: 700px;
  top: 900px;
}

.circle-photo6{
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #8b1bd1;
  left: 700px;
  top: 1100px;
}

.circle-photo7{
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #8b1bd1;
  left: 700px;
  top: 1330px;
}
.circle-photo8{
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #8b1bd1;
  left: 700px;
  top: 1540px;
}
.circle-photo9{
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #8b1bd1;
  left: 700px;
  top: 1760px;
}
.circle-photo10{
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #8b1bd1;
  left: 700px;
  top: 1970px;
}

.circle-photo2{
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #e3e70c;
  margin: 20px;
  left: 354px;
  top: 222px; 
}

.circle-photo1{
  position: absolute;
  width: 214.86px;
  height: 214.86px;
  border-radius: 50%;
  border: 4px solid #30bbee;
  left: 630.06px;
  top: 151.71px;
}
.circle-photo3{
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #e3e70c;
  margin: 20px;
  left: 920px;
  top: 222px;
}
